## Environment Files
.env
*_private.json

## Logs
freqtrade/user_data/logs/*

## SQL
*.sqlite
*.sqlite-shm
*.sqlite-wal

freqtrade/user_data/*
!freqtrade/user_data/strategy/sample_strategy.py
!freqtrade/user_data/notebooks
!freqtrade/user_data/models
!freqtrade/user_data/freqaimodels
freqtrade/user_data/freqaimodels/*
freqtrade/user_data/models/*
freqtrade/user_data/notebooks/*
freqtrade-plot.html
freqtrade-profit-plot.html
freqtrade/rpc/api_server/ui/*
build_helpers/ta-lib/*

# Macos related
.DS_Store

